server {
    listen       ${NGINX_PORT};
    server_name  localhost;

    location /classic {
        proxy_pass ${CLASSIC_PASS};
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}